# VS Code settings
.vscode/*

# MacOS specific files
.DS_Store
Icon?

# Python bytecode files
**/__pycache__/*
**/.venv/*

# Training log files
**/logs/*
**/wandb/*

# Media files and archives
**/*.mp3
**/*.mp4
**/*.m4a
**/*.zip
